body{
    background-color: rgb(254, 253, 189);
}
ul {
    list-style: none;
}
nav{
    background-color: rgb(240, 191, 60);
    width: 100%;

}
.InfoTable{
    width: 100%;
}

#Fila1{
    background-color: rgb(62, 62, 62);
    color: white;
}

table, th, tr, td {
    text-align: center;
    border: 1px solid gray;
    border-collapse: collapse;
}